.navbar
{
	background-color: #2C3E50;
	color: #fff !important;
}
.navbar-brand
{
    padding-left: 7vw;
    padding-right: 7vw;
}
.navbar a
{
	color: #fff !important;
}
.green-btn
{
	background: #55e48f;
}
.green-btn:hover
{
	background: #2bde73;	
}
.border-less 
{
	border: none;
	box-shadow: none;
	border-color: transparent;
}
.carousel-inner > .item > img 
{
	padding:10vw;
}
footer
{
	color: #fff;
}
footer .footer-above
{
	background-color: #2C3E50;
}
footer .footer-below
{
	background-color: #233140;
}
footer > div > div > p
{
	padding-top:1vw;;
}
#category
{
	border-left: solid;
	border-width: 1px;
	border-color:#D8D8D8; 
}
#category a
{
	color: #000
}
#popular
{
	padding-top:2vw;
}